header{
    height: 100%;
    background: linear-gradient(to bottom, black,rgb(67, 3, 3), rgba(105, 6, 6, 0));
    color:rgb(255, 170, 0);
    font-size:  50px;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    /* font-family: "CSNPWDT NFI"; */
    font-family: "Zreaks NFI";
}

h1{
    margin-bottom: 20px;
}
.podz {
    padding-top: 0;
    margin-top: 0;
    font-size: 30px;
    font-family: "Candara";
    color: rgb(184, 98, 0);
    text-shadow: rgb(57, 2, 2) 1px 1px 5px;
}

body{
    margin: 0;
    background-image: url(https://png.pngtree.com/background/20230618/original/pngtree-halloween-wallpapers-and-backgrounds-for-laptop-or-desktop-picture-image_3712599.jpg);
    background-size: cover;

}

.cont{
    display: flex;
    justify-content: center;
    padding-left: 50px;
    padding-right: 50px;
}

.left{
    width: 50%;
    height: 100%;
    margin: 50px;
    background-color: black;
    background: radial-gradient(circle, black, rgba(255, 0, 0, 0));
    text-align: justify;
    color: white;
    font-size: 20px;
}

.right{
    width: 50%;
    height: 100%;
    margin: 50px;
    background: radial-gradient(circle, black, rgba(255, 0, 0, 0));
    text-align: center;
}

footer{
    padding-top: 50px;
    padding-bottom: 50px;
    height: 200px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgb(0, 0, 0));
    text-align: center;
    color:rgb(255, 170, 0);
    font-size: 30px;
    font-family: "Zreaks NFI";

}

